@charset "utf-8";
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.centering {
    display: table;
    width: 100%;
}
.centering > * {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 07.02.2016

    placeholder

    fonts

    site

    btn-up

    logo

    breadcrums

    btn

    rating

    review__game

    menu

    search

    social

    content

    page-404

    single-game

    packages

    contact-us

    score

    casino-info

    software

*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    font-size: 15px;
    color: #a7b7c5;
    -webkit-transition: color 300ms ease-in-out;
}
:-moz-placeholder {
    font-size: 15px;
    color: #a7b7c5;
    -webkit-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}
.placeholder {
    font-size: 15px;
    color: #a7b7c5;
    -webkit-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}
.site__aside-search ::-webkit-input-placeholder {
    color: #a7b7c5;
}
.site__aside-search :-moz-placeholder {
    color: #a7b7c5;
}
.site__aside-search .placeholder {
    color: #a7b7c5;
}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
/* --------------- /placeholder --------------- */

/* --------------- fonts --------------- */
@font-face {
    font-family: "helvetica-bold";
    src: url("../fonts/HelveticaBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "helvetica-medium";
    src: url("../fonts/HelveticaMedium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "helvetica-regular";
    src: url("../fonts/HelveticaRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "helvetica-light";
    src: url("../fonts/helveticaneuecyr-light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */

/* --------------- site --------------- */
.site {
    min-height: 100%;
    min-width: 320px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    font-family: 'helvetica-regular', sans-serif;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 431px;
}
.site__content {
    position: relative;
    margin: 0 auto;
    z-index: 2;
    max-width: 1000px;
}
.site__header {
    position: relative;
    height: 57px;
    background: #007ab5;
    z-index: 3;
    border-bottom: 3px solid #b9daf1;
}
.site__header-wrap{
    height: 54px;
    border-bottom: 3px solid #00699c;
}
.site__header-layout{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 431px;
    background: #00699c;
    padding-top: 4px;
}
.site__footer-layout {
    position: relative;
    width: 100%;
    height: 423px;
    background: #007ab5;
    text-align: center;
    padding-top: 45px;
}
.site__footer-logo{
    display: none;
}
.site__footer-menu li{
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}
.site__footer-menu li a{
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    transition: opacity .3s ease;
}
.site__footer-menu li a:hover{
    opacity: .7;
    text-decoration: underline;
}
.site__aside {
    position: relative;
    width: 100%;
    background: #fdfdfd;
    padding: 0 11px;
    text-align: left;
}
.site__content-layout {
    margin: 0 auto;
    padding: 18px 10px 12px;
}
.site__aside div{

}
.site__aside a{
    font-size: 17px;
    color: #0091d7;
    letter-spacing: -0.1px;
    line-height: 37px;
}
.site__aside h2{
    background: #f6f6f6;
    color: #007ab5;
    font-size: 18px;
    font-family: "helvetica-bold" , sans-serif;
    border-left: 2px solid #007ab5;
    padding: 15px 17px;
    margin-bottom: 12px;
    text-transform: uppercase;
}
.site__aside ul{
}
.site__aside li{
    margin-bottom: 2px;
    padding-left: 19px;
    border-top: 2px solid #fdfdfd;
    border-bottom: 2px solid #fdfdfd;
}
.site__aside li:hover{
    border-color: #c9d3db;
}
.show-all,
.site__aside-mobile,
.site__aside-online{
    display: none;
}
.site__aside li.show-expand{
    display: block;
    margin: 20px 0 0 0;
    padding: 2px 31px 0 0;
    text-align: center;
    border-top: 4px solid #f6f6f6;
    transition: background .3s ease;
}
.site__title{
    padding: 0 0px 19px;
    margin-bottom: 11px;
    border-bottom: 1px solid #dce8ef;
    font-size: 20px;
    color: #007ab5;
    line-height: 23px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    font-family: "helvetica-bold", sans-serif;
}
.site__title_no-border {
    border-bottom: none;
}
.site__aside li.show-expand a{
    position: relative;
    font-size:18px;
    color: #566e7b;
}
.site__aside li.show-expand:hover{
    border-color:#fdfdfd;
    background: #f6f6f6;
}
.site__aside li.show-expand a:before{
    position: absolute;
    top: 1px;
    right: -25px;
    width: 15px;
    height: 17px;
    content: "";
    background: url("../img/expand.png") no-repeat center;
    background-size: contain;
}
.site__aside ul li{
    display: none;
}
.site__aside .site__aside-software ul li:nth-child(n+1):nth-child(-n+4) {
    display: block;
}
.site__aside .site__aside-methods ul li:nth-child(n+1):nth-child(-n+6) {
    display: block;
}
.site__aside .site__aside-A-Z ul li:nth-child(n+1):nth-child(-n+9) {
    display: block;
}
/* --------------- /site --------------- */

/* --------------- btn-up --------------- */
.btn-up {
    display: none;
    position: fixed;
    bottom: 64px;
    right: 27px;
    background:url("../img/btn-up.png") no-repeat;
    background-size: contain;
    width: 50px;
    height: 55px;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}
/* --------------- /btn-up --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 21px;
    left: 117px;
}
.logo img{
    width: 138px;
    height: 20px;
}
/* --------------- /logo --------------- */

/* --------------- breadcrums --------------- */
.breadcrums{
    display: block;
    position: relative;
    color: #007ab5;
    font-size: 14px;
    margin: 0 9px 27px;
    font-family: "helvetica-light", sans-serif;
    letter-spacing: .3px;
}
.breadcrums a{
    display: inline-block;
    position: relative;
    color: #a7b7c5;
    margin-right: 31px;
    transition: color .3s ease;
    -webkit-transition: color .3s ease;
}
.breadcrums a:hover{
    color: #007ab5;
}
.breadcrums a:after{
    content: '';
    position: absolute;
    top: 1px;
    right: -25px;
    background-image: url("../img/arrow_bread.png");
    background-repeat: no-repeat;
    width: 11px;
    height: 23px;
    background-size: 8px;
}
/* --------------- /breadcrums --------------- */

/* --------------- btn --------------- */
.btn{
    display: block;
    position: relative;
    font-size: 16px;
    color: #fff;
    background-color: #007ab5;
    border-radius: 4px;
    padding: 14px 4px 14px 0;
    text-align: center;
    transition: background .3s ease;
    -webkit-transition: background .3s ease;
}
.btn:hover{
    background-color: #24aaeb;
}
.btn_compressed{
    display: inline-block;
    padding: 8px 43px 9px;
    font: 15px 'helvetica-light', sans-serif;
}
.btn__feedback{
    display: inline-block;
    background: #bdc7d3;
    padding: 7px;
    width: 144px;
    font: 14px 'helvetica-light', sans-serif;
    margin-bottom: 10px;
    transition: background .3s ease;
    -webkit-transition: background .3s ease;
}
.btn__feedback:hover{
    background-color: #ffb401;
}
.btn__feedback+.active{
    background-color: #ffb401;
}
.btn_submit{
    position: absolute;
    width: 166px;
    right: 1px;
    bottom: 6px;
    font-size: 15px;
    padding-top: 11px;
    padding-bottom: 9px;
}
/* --------------- /btn --------------- */

/* ------------ rating ------------ */
.rating {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    top: -1px;
    width: 147px;
    height: 18px;
    margin: 0 auto;
    background: url("../img/rating-star.png") repeat-x top left;
    background-size: 29px 18px;
}
.rating > div {
    background: url("../img/rating-star-color.png") repeat-x top left;
    height: 100%;
    width: 18px;
    background-size: 29px 18px;
}
/* ------------ /rating ------------ */

/* --------------- review__game --------------- */
.review__game-logo{
    display: inline-block;
    vertical-align: middle;
    width: 116px;
    height: 61px;
    margin-right: 25px;
}
.review__game{
    margin-bottom: 44px;
    font-family: "helvetica-light", sans-serif;
}
.review__game>div{
    position: relative;
}
.review__game>div:after{
    content: '';
    position: absolute;
    height: 1px;
    background: #d7e4ed;
    bottom: -19px;
    left: 10px;
    right: 10px;
}
.review__country{
    display: inline-block;
    margin-bottom: 27px;
}
.review__country img{
    display: inline-block;
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 40px;
    vertical-align: middle;
    top: -2px;
    margin-right: 1px;
}
.review__country span{
    display: inline-block;
    vertical-align: middle;
    max-width: 104px;
    color: #81919a;
}
.review__play{
    padding: 0 9px 0 5px;
    margin-bottom: 37px;
}
.review__rating{
    margin-left: 4px;
}
.review__rating span{
    font-size: 14px;
    color: #566e7b;
    margin-right: 24px;
}
.review__views{
    display: none;
    position: relative;
}
.review__views:before{
    content: '';
    position: absolute;
    background: #d7e4ed;
    width: 1px;
    height: 34px;
    top: -11px;
    left: -23px;
}
.review-slider{
    position: relative;
    margin-bottom: 60px;
}
.review-slider__wrap{
    padding: 0 22px;
}
.review-slider .swiper-slide{
    display: inline-block;
    width: auto !important;
}
.review-slider .slider__layout{

}
.review-slider .slider__item{
    display: inline-block;
    color: #738590;
    font-size: 14px;
    padding: 14px 14px 16px 14px;
    transition: color .3s ease;
    -webkit-transition: color .3s ease;
}
.review-slider .slider__item:hover{
    color: #007ab5;
}
.button_prev, .button_next{
    position: absolute;
    width: 19px;
    height: 100%;
    top: 21px;
    background-image: url("../img/slider_pagination.png");
    background-size: 32px 22px;
    background-color: #fff;
}
.button_next{
    background-position: -13px 11px;
    right: 0;
}
.button_prev{
    background-position: 0px 11px;
    left: 0;
}
.review-slider .swiper-slide-active .slider__item{
    color: #007ab5;
}
.review-slider .swiper-slide-active{
    border-bottom: 3px solid #007ab5;
}
.review-slider:after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #d6e5ec;
}
.review-feedback .site__title{
    margin-bottom: 11px;
    border-bottom: 2px solid #d7e4ed;
    padding-bottom: 16px;
}
.review-feedback__logo{
    display: inline-block;
    vertical-align: middle;
    width: 197px;
    height: 57px;
    margin-right: 25px;
    margin-bottom: 8px;
}
.review-feedback__title{
    color: #566e7b;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "helvetica-medium", sans-serif;
    letter-spacing: 0.2px;
    line-height: 17px;
    margin-bottom: 21px;
}
.review-feedback__descr{
    color: #657a86;
    font-size: 15px;
    font-family: "helvetica-light", sans-serif;
    letter-spacing: 0.4px;
    line-height: 17px;
    margin-bottom: 24px;
}
.review-feedback .rating{
    width: 197px;
    background-size: 40px 26px;
    margin-left: -4px;
    height: 30px;
    margin-bottom: 16px;
}
.review-feedback .rating>div{
    height: 32px;
    background-size: 40px 26px;
}
.review-feedback .btn__feedback{
    margin-right: 7px;
}
.review-feedback__btn {
    margin-bottom: 10px;
}
.review-feedback .btn__feedback:nth-child(even){
    margin-right: 0;
}
.review-feedback__form{
    position: relative;
    width: 100%;
    padding-bottom: 40px;
}
.review-feedback__form input, .review-feedback__form textarea{
    display: block;
    border: 2px solid #007ab5;
    width: 100%;
    font-size: 15px;
    padding: 0 9px;
}
.review-feedback__form input{
    height: 31px;
    margin-bottom: 21px;
}
.review-feedback__form textarea{
    height: 199px;
    padding: 3px 9px 3px;
    margin-bottom: 20px;
}
/* --------------- /review__game --------------- */

/* --------------- menu --------------- */
.menu{
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
}
.menu__wrap{
    position: absolute;
    top: 0;
    width: 200px;
    margin-top: 57px;
    padding: 15px 22px 20px 19px;
    background-color: #fff;
    text-transform: uppercase;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
    box-shadow: 2px 0 2px rgba(0,0,0,.5);
}
.menu.active .menu__wrap{
    opacity: 1;
    visibility: visible;
}
.menu__wrap>a {
    display: block;
    position: relative;
    font-family: "helvetica-bold" , sans-serif;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #007ab5;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    line-height: 32px;
    transition: background-color .3s ease, color .3s ease;
    -webkit-transition: background-color .3s ease, color .3s ease;
}
.menu__wrap a span{
    display: inline-block;
    position: relative;
}
.menu__wrap a span:after{
    content: '';
    position: absolute;
    top: 31px;
    left: 0;
    right: 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color .3s ease;
    -webkit-transition: border-bottom-color .3s ease;
}
.menu__wrap>a:hover{
    border-color: #c9d3db;
}
.menu__btn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 52px;
    height: 57px;
    border: none;
    background: none;
    z-index: 2;
}
.menu__btn:before,
.menu__btn:after{
    display: block;
    content: '';
    position: absolute;
    top: 19px;
    left: 19px;
    width: 50px;
    height: 50px;
    background: url("../img/menu.png") no-repeat;
    background-size: 17px 14px;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.menu__btn:after{
    opacity: 0;
    background: url("../img/menu-close.png") no-repeat;
    background-size: 17px 13px;
}
.menu.active .menu__btn:before{
    opacity: 0;
}
.menu.active .menu__btn:after{
    opacity: 1;
}
.menu.active .menu__btn {
    background: #fff;
}
.show-all:after{
    position: absolute;
    right: -25px;
    content: ">>";
    font-size: 15px;
}
.home{
    position: absolute;
    top: 10px;
    left: 62px;
    width: 29px;
    height: 30px;
    background: url("../img/home.png") no-repeat center;
    background-size: contain;
}
a.mobile-style{
    display: none;
}
.menu__online{
    margin-top: 8px;
    margin-bottom: 21px;
}
.menu__online li{
    width: 186px;
    margin-left: -5px;
    padding-left: 5px;
}
.menu__mobile li a,
.menu__online li a{
    font-family:"helvetica-regular", sans-serif;
    font-size:13px;
    color:#007ab5;
    line-height: 34px;
    text-transform: capitalize;
}
.menu__mobile li:hover,
.menu__online li:hover{
    background: #f6f6f6;
}
.menu__mobile h2{
    width: 186px;
    margin-left: -5px;
    margin-bottom: 14px;
    padding-left: 5px;
    background: #f6f6f6;
    font-size:11px;
    color: #007ab5;
    line-height: 34px;
    letter-spacing: 1px;
    border-left:2px solid #007ab5;
}
.menu__mobile li{
    width: 186px;
    margin-left: -5px;
    padding-left: 12px;
}
/* --------------- /menu --------------- */

/* --------------- search --------------- */
.search{
    float: right;
    width: 46px;
    height: 54px;
    margin-right: -9px;
    cursor: pointer;
}
.search:before{
    content: '';
    display: block;
    width: 25px;
    height: 58px;
    background: url("../img/icons-search-btn.png") no-repeat center;
    background-size: contain;
    opacity: 1;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease
}
.search:hover:before{
    opacity: 0;
}
.search__btn{
    position: relative;
    top: -40px;
    left: 0;
    width: 46px;
    height: 54px;
    background: url("../img/icons-search-btn1.png") no-repeat center;
    background-size: contain;
    opacity: 0;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
.search:hover .search__btn{
    opacity: 1;
}
.search__frame{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 13px 4px 8px 44px;
    background-color: #007ab5;
    cursor: default;
    opacity: 0;
    visibility: hidden;
    transition: opacity.3s ease, visibility .3s ease;
    -webkit-transition: opacity.3s ease, visibility .3s ease;
}
.search:hover .search__frame{
    opacity: 1;
    visibility: visible;
}
.site__aside-search{
    position: relative;
    padding: 0 14px 18px 19px;
}
.search__frame input{
    height: 41px;
    width: 100%;
    padding: 0 30px 0 11px;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    font: italic 14px 'roboto', sans-serif;
    color: #fff;
}
.site__aside-search input{
    height: 41px;
    width: 100%;
    padding: 6px 30px 0 0;
    border: none;
    border-bottom: 2px solid #a7b7c5;
    background-color: transparent;
    font: italic 14px 'roboto', sans-serif;
    color: #a7b7c5;
}
.site__aside-search button{
    position: absolute;
    top: 4px;
    right: 13px;
    width: 22px;
    height: 37px;
    border: none;
    background: url("../img/icons-search-btn1.png") no-repeat center;
    background-size: contain;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
.search__frame button{
    position: absolute;
    top: 16px;
    right: 0;
    width: 30px;
    height: 37px;
    border: none;
    background: url("../img/icons-search-btn.png") no-repeat 0 11px/16px 17px;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
/* --------------- /search --------------- */

/* --------------- social --------------- */
.social{
    position: relative;
    width: 100%;
    margin: 45px auto 0;
}
.social a{
    display: inline-block;
    vertical-align: middle;
    width: 55px;
    height: 55px;
    margin-right: 12px;
    transition: opacity .3s ease;
}
.social a:last-child{
    margin-right: 0;
}
a.social-f{
    background: url("../img/social-f.png") no-repeat center;
    background-size: contain;
}
a.social-p{
    background: url("../img/social-p.png") no-repeat center;
    background-size: contain;
}
a.social-g{
    background: url("../img/social-g.png") no-repeat center;
    background-size: contain;
}
a.social-in{
    background: url("../img/social-in.png") no-repeat center;
    background-size: contain;
}
.social a:hover{
    -webkit-animation: swing 0.6s forwards;
    animation: swing 0.6s forwards;
    opacity: 0.7;
}

@-webkit-keyframes swing {
    25% {
        -webkit-transform: rotate3d(0, 0, 1, 12deg);
        transform: rotate3d(0, 0, 1, 12deg);
    }

    50% {
        -webkit-transform: rotate3d(0, 0, 1, -8deg);
        transform: rotate3d(0, 0, 1, -8deg);
    }

    75% {
        -webkit-transform: rotate3d(0, 0, 1, 4deg);
        transform: rotate3d(0, 0, 1, 4deg);
    }

    100% {
        -webkit-transform: rotate3d(0, 0, 2, 0deg);
        transform: rotate3d(0, 0, 2, 0deg);
    }
}
/* --------------- /social --------------- */

/* ------------ content ------------ */
.content {
    padding-top: 8px;
    font-size: 14px;
    color: #566e7b;
    font-family: "helvetica-light", sans-serif;
    line-height: 1.25;
}
.content h1 {
    margin-bottom: 32px;
    padding-bottom: 17px;
    color: #007ab5;
    border-bottom: 2px solid #dfe9f1;
    font-size: 150%;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'helvetica-bold', sans-serif;
}
.content h2 {
    margin-bottom: 4px;
    color: #007ab5;
    text-transform: uppercase;
    font-size: 115%;
    font-weight: normal;
    font-family: 'helvetica-medium', sans-serif;
}
.content h3 {
    margin-bottom: 12px;
    color: #007ab5;
    font-size: 130%;
    font-weight: normal;
    font-family: 'helvetica-medium', sans-serif;
}
.content h4 {
    margin-bottom: 10px;
    color: #007ab5;
    font-size: 120%;
    font-weight: normal;
    font-family: 'helvetica-medium', sans-serif;
}
.content h5 {
    margin-bottom: 10px;
    color: #007ab5;
    font-size: 110%;
    font-weight: normal;
    font-family: 'helvetica-medium', sans-serif;
}
.content h6 {
    margin-bottom: 10px;
    color: #007ab5;
    font-size: 100%;
    font-weight: normal;
    font-family: 'helvetica-medium', sans-serif;
}
.content p {
    margin-bottom: 17px;
}
.content ul {
    list-style: none;
    padding: 0 0 0 35px;
    margin-bottom: 17px;
}
.content ul ul {
    margin: 10px 0 10px 25px;
}
.content ol {
    list-style: decimal;
    margin: 0 15px 10px 20px;
}
.content ol ol {
    margin: 10px 0 10px 25px;
}
.content li {
    position: relative;
    margin-bottom: -1px;
}
.content li:before {
    position: absolute;
    top: 5px;
    left: -14px;
    width: 5px;
    height: 5px;
    background: #007ab5;
    border-radius: 50%;
    content:'';
}
.content__table {
    margin-bottom: 31px;
    padding: 11px 0 11px;
    border-top: 2px solid #eff4f8;
    border-bottom: 2px solid #eff4f8;
}
.content table {
    width: 100%;
    font-size: 100%;
    color: #007ab5;
}
.content th,
.content td {
    padding: 2px 0 3px;
    text-align: left;
}
.content td:first-child {
    width: 203px;
    color: #566e7b;
}
.content td + td {
    border-left: 2px solid #e5eef3;
    padding-left: 9px;
}
.content th {
    font-weight: bold;
    text-align: center;
}
.content a:visited,
.content a:active,
.content a {
    display: inline;
    color: #0091d7;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom 0.3s ease;
    transition: border-bottom 0.3s ease;
}
.content a:hover {
    border-bottom: 1px solid #0091d7;
}
.content img[align=left] {
    margin: 0 10px 10px 0;
    float: left;
}
.content img[align=right] {
    margin: 0 0 10px 10px;
    float: right;
}
.content dl {
    margin: 0 0 15px 0;
}
.content dt {
    font-weight: bold;
    margin-bottom: 2px;
}
.content dd {
    margin-bottom: 5px;
}
.content hr {
    height: 1px;
    border: none;
    color: #aaa;
    background: #aaa;
    margin: 10px 0;
    clear: both;
}
.content blockquote {
    position: relative;
    margin: 0 0 12px;
    padding: 7px 0 0 71px;
}
.content blockquote:before {
    position: absolute;
    top: 11px;
    left: 17px;
    width: 38px;
    height: 33px;
    background: url("../img/blockqoute.png") no-repeat;
    background-size: contain;
    content:'';
}
.content blockquote b {
    color: #007ab5;
    font-family: 'helvetica-medium', sans-serif;
    font-weight: normal;
}
/* ------------ /content ------------ */

/* ------------ page-404 ------------ */
.page-404{
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #566e7b;
}
.page-404__title{
    display: block;
    margin-bottom: 14px;
    color: #007ab5;
}
.page-404__illustration{
    margin-bottom: 18px;
    padding-top: 28px;
    border-top: 1px solid #d7e4ed;
    border-bottom: 1px solid #d7e4ed;
}
.page-404__illustration img{
    display: block;
    width: 100%;
    max-width: 536px;
    margin: 0 auto;
}
.page-404__content{
    margin-bottom: 20px;
}
/* ------------ /page-404 ------------ */

/* ------------ single-game ------------ */
.single-game {
    border-bottom: 2px solid #dae6ee;
}
.single-game__warning {
    padding: 12px 10px 7px;
    margin-bottom: 11px;
    border: 2px dashed #b50000;
    background: #f3cccc;
    color: #bd0031;
    font-size: 13px;
    font-family: "helvetica-regular", sans-serif;
    line-height: 1.24;
    text-align: center;
}
.single-game__warning span {
    font-family: "helvetica-medium", sans-serif;
    text-transform: uppercase;
}
.single-game__description {
    margin-bottom: 17px;
    color: #566e7b;
    font-size: 14px;
    line-height: 1.23;
    font-family: "helvetica-regular", sans-serif;
}
.single-game__description-pic {
    position: relative;
    padding-bottom: 26%;
    margin-bottom: 15px;
    background-size: cover;
    background-position: top center;
}
.single-game__description-pic:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
    content:'';
}
.single-game__title {
    margin-bottom: 21px;
    color: #007ab5;
    font-size: 20px;
    font-family: "helvetica-bold", sans-serif;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 0.5px;
}
.single-game__wrap img {
    display: block;
    width: 100%;
    height: auto;
}
.single-game__controls {
    position: relative;
    padding-top: 67px;
}
.single-game__resize,
.single-game__refresh,
.single-game__light {
    position: absolute;
    top: 11px;
    left: 3px;
    width: 40px;
    height: 43px;
    background: url("../img/single-game__light.png") no-repeat;
    background-size: contain;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.single-game__refresh {
    top: 15px;
    left: auto;
    right: 0;
    width: 40px;
    height: 38px;
    background-image: url("../img/single-game__refresh.png");
}
.single-game__resize {
    display: none;
}
.single-game__score {
    padding: 20px 0 20px;
    color: #566e7b;
    border-top: 2px solid #dae6ee;
    font-size: 16px;
    font-family: "helvetica-regular", sans-serif;
}
.single-game__score .score {
    margin: -5px 0 0 35px;
}
/* ------------ /single-game ------------ */

/* --------------- packages --------------- */
.packages{
    color: #566e7b;
    font-size: 15px;
    line-height: 15px;
    font-family: "helvetica-light", sans-serif;
    padding: 0 22px;
}
.packages__head{
    display: none;
    color: #a7b7c5;
}
.packages__content .packages__head{

}
.packages__content-deposit{
    color: #007ab5;
}
.packages__content-code{
    font-family: "helvetica-bold", sans-serif;
    color: #b50000;
}
.packages__content-items{
    padding: 8px 0;
    border-bottom: 1px solid #d7e4ed;
}
.packages__content-items>div{
    padding: 8px 0;
}
.packages__content-items>div>div{
    display: inline-block;
    vertical-align: top;
    width: 49%;
}
.packages__content-items>div>div:first-child{
    width: 36.6%;
    padding: 0 10px 0 0;
}
/* --------------- /packages --------------- */

/*----------------contact-us--------------------*/
.contact-us {

}
.contact-us__links {
    padding: 17px 0 0;
    margin-bottom: 26px;
}
.contact-us__links li {
    vertical-align: top;
    display: block;
    padding: 0 0 0 79px;
    margin-bottom: 46px;
}
.contact-us__links a {
    display: inline-block;
    position: relative;
    font-size: 18px;
    font-family: 'helvetica-light', sans-serif;
    letter-spacing: 0.4px;
    color: #566e7b;
}
.contact-us__links a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #566e7b;
    content: '';
    -webkit-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.contact-us__links a:hover:after {
    width: 100%;
}
.contact-us__links a:before {
    top: -14px;
    position: absolute;
    left: -78px;
    background: url(../img/contacts-icon_sprite.png) no-repeat;
    background-size: 110px 47px;
    content: '';
}
.contact-us__links a.contact-us__links-site:before {
    width: 47px;
    height: 46px;
}
.contact-us__links a.contact-us__links-mail:before {
    top: -18px;
    left: -78px;
    width: 49px;
    height: 48px;
    background-position: 100% 0;
}
.contact-us__social {
    display: block;
    margin: -3px 0 20px;
    text-align: justify;
}
.contact-us__social:after {
    display: inline-block;
    width: 100%;
    content: '';
}
.contact-us__social li {
    vertical-align: top;
    display: inline-block;
}
.contact-us__social a {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid #a7b7c5;
    border-radius: 0;
    text-indent: -10000px;
    -webkit-transition: border-radius .3s ease-in-out;
    transition: border-radius .3s ease-in-out;
}
.contact-us__social a:hover{
    border-radius: 50%;
}
.contact-us__social a:after {
    position: absolute;
    top: 50%;
    left: 50%;
    background: url(../img/social-icon_sprite.png) no-repeat;
    background-size: 155px 31.5px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: '';
}
.contact-us__social a.contact-us__social-google:after {
    width: 30px;
    height: 29px;
    top: 53%;
    left: 60%;
    background-position: 0 0;
}
.contact-us__social a.contact-us__social-facebook:after {
    width: 13px;
    height: 29px;
    background-position: -47px 0;
}
.contact-us__social a.contact-us__social-twitter:after {
    width: 24px;
    height: 19px;
    background-position: -91px 0;
}
.contact-us__social a.contact-us__social-pinterest:after {
    width: 25px;
    height: 29px;
    top: 51%;
    left: 50%;
    background-position: -131px 0;
}
.contact-us__form {
    position: relative;
    margin: 0 0 87px;
    padding: 0 0 552px;
}
.contact-us__form input,
.contact-us__form textarea {
    width: 100%;
    height: 44px;
    margin-bottom: 10px;
    padding: 0 22px;
    border: 1px solid #d7e4ed;
    font-size: 18px;
    color: #a7b7c5;
}
.contact-us__form textarea {
    height: 130px;
    padding: 12px 0 0 23px;
    margin-bottom: 19px;
    overflow: hidden;
}
.contact-us__form .btn {
    position: relative;
    left: 5px;
    width: 165px;
    height: 35px;
    padding: 0;
    margin: 0 auto;
    border: none;
}
.contact-us__form:after {
    position: absolute;
    width: 107px;
    height: 107px;
    bottom: 397px;
    left: 96px;
    background: url(../img/contact_pic.png) no-repeat;
    background-size: contain;
    content: '';
}
.contact-us__form:before {
    position: absolute;
    width: 397px;
    height: 344px;
    bottom: 0;
    left: 37px;
    background: url(../img/mail-box.png) no-repeat;
    background-size: contain;
    content: '';
}
/*----------------/contact-us--------------------*/

/* ------------ score ------------ */
.score {
    display: inline-block;
    vertical-align: top;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    border: 0;
    font-size: 0;
}
.score input {
    position:absolute;
    top: -2em;
    clip:rect(0,0,0,0);
}
.score legend {
    overflow: hidden;
    height: 0;
}
.score label {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 23px;
    height: 22px;
    margin-left: 8px;
    overflow: hidden;
    text-indent: 100%;
}
.score label:last-child {
    margin-left: 0;
}
.score label:after,
.score label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/score_2.png") no-repeat;
    background-size: contain;
}
.score label:after {
    opacity: 0;
    background-image: url("../img/score_1.png");
}
.score label:hover:after,
.score label:hover ~ label:after,
.score input:checked ~ label:after {
    opacity: 1;
}
.score label:active {
    position: relative;
    top: 1px;
}
/* ------------ /score ------------ */

/* ------------ casino-info ------------ */
.casino-info__wrap {
    color: #566e7b;
    font-family: "helvetica-light", sans-serif;
    font-size: 14px;
    line-height: 1.25;
}
.casino-info__wrap > * {
    margin-bottom: 16px;
}
.casino-info__pic {
    margin-bottom: 34px;
    padding-bottom: 61%;
    background-size: cover;
    background-position: top center;
}
.casino-info__wrap strong,
.casino-info__wrap p b {
    font-family: "helvetica-medium", sans-serif;
    font-weight: normal;
}
.casino-info__wrap p a {
    color: #0091d7;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom 0.3s ease;
    transition: border-bottom 0.3s ease;
}
.casino-info__wrap p a:hover {
    border-bottom: 1px solid #0091d7;
}
.casino-info__wrap p a[href^="tel"] {
    color: inherit;
    cursor: default;
}
.casino-info__wrap p a[href^="tel"]:hover {
    border-bottom: 1px solid transparent;
}
.casino-info__wrap strong {
    display: block;
}
.casino-info__wrap p strong {
    display: inline;
}
/* ------------ /casino-info ------------ */

/* ------------ software ------------ */
.software .site__title {
    margin-bottom: 5px;
}
.software__wrap {
    color: #566e7b;
    font-size: 14px;
    font-family: "helvetica-light", sans-serif;
    line-height: 1.25;
}
.software__inner > * {
    margin-bottom: 17px;
}
.software__logo {
    display: inline-block;
    margin-bottom: 13px;
}
.software__logo img {
    display: block;
    width: 100%;
    height: auto;
}
/* ------------ /software ------------ */


@media (min-width: 768px){

    /* --------------- menu --------------- */
    .menu__btn:before,
    .menu__btn:after {
        left: 15px;
    }
    /* --------------- /menu --------------- */

    /* --------------- site --------------- */
    .site__content-layout {
        padding: 30px 22px 13px;
    }
    .site__header {
        height: 65px;
    }
    .site__header-wrap {
        height: 61px;
    }
    .site__title{
        padding: 0 0 23px;
        margin-bottom: 37px;
        font-size: 30px;
    }
    .site__title_small {
        font-size: 24px;
        margin-bottom: 21px;
    }
    /* --------------- /site --------------- */

    /* --------------- breadcrums --------------- */
    .breadcrums{
        margin-left: 21px;
        font-size: 15px;
        margin-bottom: 29px;
        letter-spacing: 0.1px;
    }
    .breadcrums a:after {
        right: -22px;
    }
    .breadcrums a {
        margin-right: 34px;
    }
    /* --------------- /breadcrums --------------- */

    /* ------------ rating ------------ */
    .rating {
        top: -2px;
        margin-right: 34px;
        height: 18px;
    }
    /* ------------ /rating ------------ */

    /* --------------- review__game --------------- */
    .review__game-logo{
        width: 184px;
        height: 97px;
        margin-right: 97px;
    }
    .review__game {
        margin-bottom: 55px;
    }
    .review__country img {
        width: 55px;
        height: 55px;
        top: 2px;
        margin-right: 25px;
    }
    .review__country {
        margin-right: 63px;
    }
    .review__country span {
        max-width: 119px;
        font-size: 18px;
        line-height: 22px;
    }
    .review__play {
        display: inline-block;
        position: absolute;
        padding: 0;
        margin-bottom: 0;
        width: 174px;
        top: 29px;
        right: -21px;
    }
    .review__game>div{
        margin-bottom: 28px;
    }
    .review__game>div:last-child{

    }
    .review__rating span {
        font-size: 15px;
        margin-right: 16px;
    }
    .review__game>div:after {
        bottom: -9px;
        left: 4px;
        right: 4px;
    }
    .review__game>div:last-child:after{
        bottom: -18px;
    }
    .review__rating .review__views{
        display: inline-block;
        position: relative;
        letter-spacing: 0.3px;
    }
    .review-feedback .site__title{
        font-size: 24px;
        padding-bottom: 25px;
        margin-bottom: 21px;
    }
    .review-feedback__logo {
        width: 265px;
        height: 78px;
        margin-bottom: 17px;
    }
    .review-feedback__title {
        margin-bottom: 19px;
    }
    .review-feedback__descr {
        margin-bottom: 35px;
    }
    .review-feedback .rating {
        margin-left: -8px;
        margin-bottom: 25px;
    }
    .review-feedback .btn__feedback, .review-feedback .btn__feedback:nth-child(even){
        margin-right: 4px;
        width: 142px;
    }
    .review-feedback__btn{
        margin-bottom: 30px;
    }
    /* --------------- /review__game --------------- */


    /* --------------- site --------------- */
    .site__footer-layout {
        padding-top: 50px;
    }
    /* --------------- /site --------------- */

    /* --------------- menu --------------- */
    .menu__wrap {
        margin-top: 66px;
    }
    .menu__btn:before, .menu__btn:after {
        left: 20px;
        top: 22px;
        background-size: 23px 15px;
    }
    .menu__btn {
        width: 56px;
        height: 66px;
    }
    .home {
        top: 13px;
        left: 77px;
        width: 30px;
    }
    /* --------------- /menu --------------- */

    /* --------------- search --------------- */
    .search {
        width: 243px;
        margin-right: 4px;
    }
    .search:before,
    .search__btn {
        display: none;
    }
    .search__frame {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        padding: 8px 2px 0 0;
        background-color: transparent;
        opacity: 1;
        visibility: visible;
    }
    .search__frame input {
        height: 43px;
        font-size: 15px;
        padding: 6px 30px 0 11px;
    }
    .search__frame button {
        top: 9px;
        right: 4px;
        width: 34px;
        height: 40px;
        background-size: 25px 24px;
        background-position: 12px 13px;
    }
    /* --------------- /search --------------- */

    /* --------------- packages --------------- */
    .packages__head{
        display: block;
    }
    .packages__content .packages__head{
        display: none;
    }
    .packages__content-items{
        padding: 37px 0 31px;
    }
    .packages__head>div,
    .packages__content-items>div{
        display: inline-block;
        vertical-align: top;
    }
    .packages__head>div:nth-child(1),
    .packages__content-items>div:nth-child(1){
        width: 15%;
    }
    .packages__head>div:nth-child(2),
    .packages__content-items>div:nth-child(2){
        width: 11%;
    }
    .packages__head>div:nth-child(3),
    .packages__content-items>div:nth-child(3){
        width: 13%;
    }
    .packages__head>div:nth-child(4),
    .packages__content-items>div:nth-child(4){
        width: 25%;
    }
    .packages__head>div:nth-child(5),
    .packages__content-items>div:nth-child(5){
        width: 12.5%;
    }
    .packages__head>div:nth-child(6),
    .packages__content-items>div:nth-child(6){
        width: 20%;
    }
    .packages__content-items>div{
        padding: 0;
    }
    .packages__content-items>div>div{
        display: block;
        width: 100%;
    }

    /* --------------- /packages --------------- */

    /* --------------- social --------------- */
    .social a {
        margin-right: 19px;
    }
    /* --------------- /social --------------- */

    /* ------------ content ------------ */
    .content h1 {
        margin-bottom: 31px;
        padding-bottom: 13px;
        font-size: 220%;
    }
    .content li:before {
        left: -8px;
    }
    .content__table {
        margin-bottom: 15px;
    }
    .content blockquote {
        margin-bottom: 32px;
        padding: 12px 0 0 77px;
    }
    .content blockquote:before {
        left: 27px;
    }
    /* ------------ /content ------------ */

    /* ------------ page-404 ------------ */
    .page-404{
        padding-top: 18px;
        margin-bottom: 130px;
        font-size: 20px;
        line-height: 26px;
    }
    .page-404__title{
        margin-bottom: 18px;
    }
    .page-404__illustration{
        margin: 0 auto 51px;
        padding-top: 58px;
    }
    .page-404__content{
        margin-bottom: 41px;
    }
    /* ------------ /page-404 ------------ */

    /* ------------ logo ------------ */
    .logo {
        position: absolute;
        top: 29px;
        left: 256px;
    }
    .logo img {
        width: 167px;
        height: 22px;
    }
    /* ------------ /logo ------------ */

    /* ------------ single-game ------------ */
    .single-game__warning {
        padding: 27px 10px 24px;
        margin-bottom: 30px;
    }
    .single-game__description {
        position: relative;
        margin-bottom: 42px;
        padding-left: 257px;
        line-height: 1.3;
    }
    .single-game__description-pic {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 227px;
        padding-bottom: 0;
        margin-bottom: 0;
        background-size: cover;
        background-position: center;
    }
    .single-game__description-pic:before {
        display: none;
    }
    .single-game__title {
        margin-bottom: 31px;
        font-size: 24px;
    }
    .single-game__controls {
        padding-top: 0;
        height: 84px;
        text-align: center;
    }
    .single-game__resize,
    .single-game__refresh,
    .single-game__light {
        top: 17px;
        left: 0;
        width: 48px;
        height: 50px;
    }
    .single-game__refresh {
        top: 20px;
        left: auto;
        right: 64px;
        height: 44px;
    }
    .single-game__resize {
        display: block;
        top: 21px;
        left: auto;
        right: 0;
        width: 37px;
        height: 39px;
        background-image: url("../img/single-game__resize.png");
    }
    .single-game__score {
        padding: 30px 0 20px;
        color: #566e7b;
        border-top: none;
        font-size: 18px;
    }
    .single-game__score .score {
        margin: -5px 0 0 24px;
    }
    /* ------------ /single-game ------------ */

    /*----------------contact-us--------------------*/
    .contact-us__links {
        padding: 17px 0 0 26px;
        margin-bottom: 27px;
    }
    .contact-us__links li {
        vertical-align: top;
        display: inline-block;
        padding: 0 0 0 82px;
        margin-right: 65px;
        margin-bottom: 30px;
    }
    .contact-us__links a.contact-us__links-mail:before {
        left: -79px;
    }
    .contact-us__social {
        display: inline-block;
        width: 332px;
        padding: 55px 0 0;
        margin: 0 0 0 30px;
        border-top: 1px solid #a7b7c5;
    }
    .contact-us__form {
        vertical-align: top;
        display: inline-block;
        margin: 0 0 268px 28px;
        padding: 0 0 100px;
        width: 44%;
    }
    .contact-us__form:after {
        bottom: 212px;
        left: -168px;
    }
    .contact-us__form:before {
        width: 397px;
        height: 344px;
        bottom: -179px;
        left: -348px;
    }
    /*----------------/contact-us--------------------*/

    /* ------------ casino-info ------------ */
    .casino-info__wrap {
        position: relative;
        padding-left: 260px;
        min-height: 234px;
        font-size: 15px;
    }
    .casino-info__pic {
        position: absolute;
        top: 0;
        left: 0;
        width: 233px;
        height: 234px;
        margin-bottom: 0;
        padding-bottom: 0;
        background-position: center;
    }
    .casino-info__wrap > * {
        margin-bottom: 18px;
    }
    /* ------------ /casino-info ------------ */

    /* ------------ software ------------ */
    .software .site__title {
        margin-bottom: 15px;
    }
    .software__wrap {
        font-size: 15px;
        text-align: justify;
    }
    .software__wrap:after {
        display: inline-block;
        width: 100%;
        content: '';
    }
    .software__logo {
        vertical-align: top;
        width: 233px;
        margin: 25px 0 0;
    }
    .software__inner {
        display: inline-block;
        vertical-align: top;
        width: calc( 100% - 261px );
    }
    /* ------------ /software ------------ */

}

@media (min-width: 1024px){

    /* ------------ rating ------------ */
    .rating {
        top: -3px;
        margin-right: 34px;
        height: 18px;
    }
    /* ------------ /rating ------------ */

    /* --------------- site --------------- */
    .site__content {
        width: 1000px;
        text-align: justify;
    }
    .site__content:after {
        display: inline-block;
        width: 100%;
        content: '';
    }
    .site__content-layout{
        display: inline-block;
        vertical-align: top;
        padding: 39px 10px 0;
        width: 750px;
        text-align: left;
    }
    .site__aside {
        display: inline-block;
        vertical-align: top;
        margin-left: 0;
        margin-bottom: 84px;
        padding: 49px 3px 0;
        width: 244px;
        text-align: left;
    }
    a.show-all{
        display: inline-block;
        position: relative;
        color:#566e7b;
        margin-top: 3px;
        margin-left: 19px;
    }
    .site__aside .site__aside-online ul li{
        font-family: "helvetica-bold", sans-serif;
    }
    .site__content__layout {
        padding-top: 38px;
    }
    .site__footer {
        height: 234px;
    }
    .site:after {
        height: 234px;
    }
    .site__footer-wrap{
        background: #007ab5;
        height: 227px;
    }
    .site__footer-layout {
        max-width: 1000px;
        height: 214px;
        margin: 0 auto;
        padding-left: 345px;
        text-align: left;
    }
    .site__footer-logo{
        display: block;
        position: absolute;
        top: -21px;
        left: 0;
        width: 301px;
        height: 247px;
    }
    .site__footer-menu{
        display: inline-block;
        vertical-align: top;
        margin-right: 68px;
        text-align: left;
    }
    .site__footer-menu li {
        margin-bottom: 26px;
        letter-spacing: .6px;
    }
    .site__aside ul li{
        display: block;
    }
    .site__aside-search {
        margin-top: -4px;
    }
    .site__aside-search button {
        top: 6px;
        right: 18px;
        width: 20px;
        height: 37px;
    }
    .show-all,
    .site__aside-mobile,
    .site__aside-online{
        display: block;
    }
    .site__aside li.show-expand{
        display: none;
    }
    /* --------------- /site --------------- */

    /* --------------- menu --------------- */
    .menu{
        left: 177px;
    }
    .menu__btn{
        display: none;
    }
    .menu__wrap{
        position: static;
        width: auto;
        padding-top: 15px;
        margin-top: 0;
        background: none;
        box-shadow: none;
        visibility: visible;
        opacity: 1;
    }
    .menu__wrap a{
        display: inline-block;
        margin-left: 18px;
        letter-spacing: 0;
        color: #fff;
        border: none;
    }
    .menu__wrap a span{
        padding-bottom: 34px;
    }
    .menu__wrap a span:after{
        top: 92%;
        border-bottom-width: 2px;
    }
    .menu__mobile,
    .menu__online{
        display: none;
    }
    a.active {
        color: #fff;
    }
    .menu__wrap a:hover span:after,
    .menu__wrap a.active span:after{
        box-shadow: 0 0 3px #fff;
        border-bottom-color: #fff;
    }
    .menu__wrap a span {
        padding-bottom: 11px;
    }
    .home {
        display: none;
    }
    /* --------------- /menu --------------- */

    /* --------------- review --------------- */
    .review__game-logo {
        width: 186px;
        height: 99px;
        margin-right: 98px;
    }
    .review__country img {
        top: 1px;
    }
    .review__play {
        width: 174px;
        top: 29px;
        right: -21px;
        letter-spacing: .4px;
    }
    .review__rating span {
        margin-right: 13px;
        letter-spacing: .4px;
    }
    .review__game>div:last-child:after {
        bottom: -17px;
    }
    .review-slider .slider__item{
        font-size: 15px;
    }
    .review__game {
        margin-bottom: 52px;
    }
    .review-feedback .site__title {
        padding-bottom: 27px;
        border-bottom: 1px solid #d7e4ed;
    }
    .review-feedback__descr {
        margin-bottom: 35px;
        line-height: 18px;
        letter-spacing: 0.5px;
        word-spacing: -0.2px;
    }
    .review-feedback .btn__feedback {
        margin-right: 7px;
        padding-top: 7px;
        padding-bottom: 8px;
    }
    .review-feedback .btn__feedback:last-child{
        margin-right: 0;
    }
    /* --------------- /review --------------- */

    /* --------------- btn --------------- */
    .btn {
        padding: 14px 4px 14px 0;
    }
    .btn_compressed{
        padding: 8px 43px 9px;
    }
    /* --------------- /btn --------------- */

    /* --------------- social --------------- */
    .social {
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 152px;
        margin: -7px 0 0 41px;
    }
    .social a{
        width: 64px;
        height: 64px;
        margin: 0 0 19px;
    }
    .social a:nth-child(even){
        margin-left: 16px;
    }
    /* --------------- /social --------------- */

    /* ------------ content ------------ */
    .content td:first-child {
        width: 206px;
    }
    /* ------------ /content ------------ */

    /* ------------ search ------------ */
    .search {
        width: 202px;
        margin-right: 28px;
    }
    .search__frame input {
        height: 39px;
        padding: 3px 27px 0 0;
    }
    .search__frame button {
        background-size: 21px 20px;
        background-position: 16px 13px;
    }
    /* ------------ /search ------------ */

    /* ------------ logo ------------ */
    .logo {
        top: 19px;
        left: 0;
    }
    .logo img {
        width: 179px;
    }
    /* ------------ /logo ------------ */

    /* ------------ single-game ------------ */
    .single-game__warning {
        display: none;
    }
    .single-game__description {
        margin-bottom: 42px;
        padding-left: 260px;
    }
    .single-game__title {
        margin-bottom: 29px;
    }
    .single-game__controls {
        height: 86px;
    }
    .single-game__light {
        top: 19px;
    }
    .single-game__refresh {
        top: 22px;
        right: 68px;
    }
    .single-game__resize {
        top: 23px;
    }
    /* ------------ /single-game ------------ */

    /*----------------contact-us--------------------*/
    .contact-us__links {
        padding: 17px 0 0;
        margin-bottom: 26px;
    }
    .contact-us__links li {
        margin-right: 98px;
    }
    .contact-us__links a.contact-us__links-mail:before {
        left: -89px;
    }
    .contact-us__social {
        width: 362px;
        margin: 0;
    }
    .contact-us__form {
        margin: 0 0 0 33px;
        padding: 0 0 280px;
        width: 330px;
    }
    .contact-us__form:after {
        bottom: 392px;
        left: -177px;
    }
    .contact-us__form:before {
        width: 430px;
        bottom: 3px;
        left: -395px;
    }
    /*----------------/contact-us--------------------*/

    /* ------------ casino-info ------------ */
    .casino-info__wrap {
        font-size: 16px;
        line-height: 1.2;
    }
    .casino-info__wrap > * {
        margin-bottom: 20px;
    }
    /* ------------ /casino-info ------------ */

    /* ------------ software ------------ */
    .software__wrap {
        font-size: 16px;
        line-height: 1.2;
    }
    .software__inner > * {
        margin-bottom: 20px;
    }
    /* ------------ /software ------------ */

}
